 /*formato navbar/header*/
 #header {
    width: 100%;
    background-color: rgb(12, 12, 12);
    position: fixed;
    z-index: 10;
    background: transparent;
    backdrop-filter: blur(20px);
  }
  
  .nav-link {
    color: white;
  }
  
  .nav-item {
    width: 100px;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  
  .navbar-nav {
    width: 900px;
  }
  
  .navBar__logo {
    width: 70px;
  }
  
  .descarga {
    width: 250px;
    display: flex;
    justify-content: center;
    font-family: "latin moderm roman";
    text-align: end;
    text-decoration: none;
    font-size: clamp(2rem, 6vw, 2rem);
    color: rgb(247, 243, 243);
  }