/*FORMATEO DE DOCUMENTO*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: none;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  
  #main {
    min-height: 100vh;
    max-width: 100%;
    align-items: center;
    padding-top: 90px;

    
  }